/* Default styles for larger screens */
body {
    background-color: black;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heart {
    position: relative;
    width: 200px;
    height: 180px;
    transform: rotate(-45deg);
  }
  
  .heart:before,
  .heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  /* Styles for smaller screens */
  @media only screen and (max-width: 480px) {
    .center {
      height: auto;
    }
  
    .heart {
      width: 100px;
      height: 90px;
    }
  }
  